a {
  text-decoration: none;
}

@import url("https://fonts.googleapis.com/css?family=Lora:400,400i,700");

/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: rgb(111, 30, 30) #1f1f1f;
}

/* Chrome / Edge / Safari */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: #1f1f1f;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(111, 30, 30);
  border-radius: 4px;
  border: 0px solid rgb(111, 30, 30);
}

::-moz-selection {
  background: rgb(193, 113, 113);
  color: #fff;
}

::selection {
  background: rgb(193, 113, 113);
  color: rgb(111, 30, 30);
}

/* next 2 for *no* Website Scrollbar, for div scroll bar (downloads)*/
.main-window .scroll-div {
  margin: 0%;
  padding: 0%;
  width: 100vw;
  height: 100vh;
  max-height: 100vh;
}

.scroll-div {
  overflow: hidden;
  overflow-y: scroll;
  z-index: 1;
}

body {
  border: 0;
  padding: 0;
  margin: 0;
  position: relative;
}

#header {
  padding-right: 100%;
  position: fixed;
  height: calc(6rem + 1vw);
  /*background: linear-gradient(to top, rgba(0, 0, 0, 0) 0%,rgba(0, 0, 0, 0) 2%, rgba(0, 0, 0, 0.1) 30%, rgb(12, 12, 52) 50%, rgb(41, 41, 103) 90%);*/
  background-color: #1a1e23;
  background-size: cover;
  background-position: center;
  z-index: 1000;
  opacity: 89%;
}

#HeaderText {
  color: whitesmoke;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-family: 'Quicksand';
  text-rendering: optimizeLegibility;
  user-select: none;
  font-size: calc(1rem + 1.5vw);

  padding-left: 5rem;
  padding-top: 1rem;
  padding-right: 1rem;
  margin: 0;
  position: fixed;
  z-index: 1000;
}

@supports (background-clip: text) {
  #HeaderText {
    background: linear-gradient(to top left, white, red, violet);
    background-clip: text;
    color: transparent;
  }
}

/*--------------  Inhalt  --------------------*/



#ImgTit {
  position: relative;
  color: whitesmoke;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-family: 'Quicksand';
  user-select: none;
  font-size: 4.7vw;
  padding-left: calc(1rem + 5vw);
  padding-top: calc(1rem + 15vh);
  margin: 0;
  text-rendering: optimizeLegibility;
  z-index: 0;
  line-height: 5rem;
}


#ImgTitspan {
  font-size: 3rem;
}

#ImgTit2 {
  color: whitesmoke;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-family: 'Quicksand';
  user-select: none;
  margin-left: 1rem;
  margin-top: 1rem;
  margin-right: 2rem;
  margin-bottom: 2.5rem;
  font-size: 2.9vw;
  text-rendering: optimizeLegibility;
}

#Title_blur2 {
  background-color: darkslategrey;
  padding-left: calc(1rem + 55vw);
  padding-top: 0.5rem;
  margin-left: calc(1rem + 18vw);
  box-shadow: 0 25px 60px rgba(0, 0, 0, .8);
  filter: blur(5px);
  z-index: 1;
}

/*--------- Blur Title 2---------------------*/
#container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 95vw;
  z-index: 0;
  flex-wrap: wrap;
  margin-top: 15rem;
}

#container #card {
  position: relative;
  margin-left: calc(1rem + 65vw);
  box-shadow: 0 25px 80px rgba(1, 0, 0, .9);
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
}

#container #card #content {
  padding: 20px;
  transition: 0.5;
}

/*------------*/

.dot {
  position: absolute;
  left: 50vw;
  height: 160px;
  width: 160px;
  background: linear-gradient(to bottom right, blue, violet);
  border-radius: 50%;
  display: inline-block;

  left: 50%;
  right: auto;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: -80px;
  box-shadow: 0 25px 60px rgba(0, 0, 0, .8);
  opacity: 95%;

}



.Sect3Class {
  float: left;
}

#text_introduction {

  margin-left: 0rem;
  background-color: azure;
  padding: 5rem;
  color: #444;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  text-rendering: optimizeLegibility;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.25);
  height: 360px;
}


#text_doing {
  margin-left: 30rem;
  background-color: azure;
  padding: 5rem;
  color: #444;
  font-size: 3rem;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  text-rendering: optimizeLegibility;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.25);
  height: 360px;
}

#text_doing_span {
  font-size: 4rem;
  color: rgb(101, 34, 34);
}

/*TODO:*/
#text_Projects {
  color: whitesmoke;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-family: 'Orbitron', sans-serif !important;

  user-select: none;
  font-size: 5vw;
  padding-left: calc(1rem + 4vw);
  padding-top: calc(1rem + 5vh);
  margin: 0;
  text-rendering: optimizeLegibility;

}

#img_Migurdia {
  height: auto;
  width: 100%;
  box-shadow: 10px 4px 15px 0px rgba(0, 0, 0, 0.25);
}


.Sect3Class:last-child {
  margin-right: 1rem;

}

/*-------------  Sections  -------------------------*/

#Sect1 {
  min-height: 100%;
  height: 100vh;
  position: relative;
  padding: 2em 0;

  background-image: url("img/8bc89e061a605cc44bc5049ca4286b6db96b90d6.jpg");
  background-color: darkslategrey;
  background-position: center;
  background-size: cover;

}


video {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.video-wrapper {
  height: 100vh;
  width: 100%;
}

#Sect2 {
  height: 60rem;
  margin-bottom: 5rem;
}

#Sect3 {
  padding-top: 10rem;
  background-color: #ecececd0;
  height: 59rem;
}

#Sect4 {
  padding-top: 10rem;
  background-color: #ecececd0;
  height: 59rem;
}

@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

#Sect5 {

  height: 60vh;
  box-shadow: 1px -6px 14px 6px rgba(0, 0, 0, 0.84);

}

/*TODO:*/
#Sect5_backround {
  background-color: black;
  /*
  background-image: url(https://papers.co/wallpaper/papers.co-sk61-dark-purple-blur-gradation-36-3840x2400-4k-wallpaper.jpg);
  background-position: center;
  background-size: cover; */
  height: 60vh !important;
  width: 100%;
  position: relative;
  z-index: 0;
}

#Sect5_backround .Sect5_backroundvideo {
  width: 100%;
  height: 60vh !important;
  position: absolute !important;
  object-fit: cover !important;
  z-index: -1 !important;
}


.text_Projects_2 {
  color: #ecececd0;
  max-width: 40vw;
  margin-left: 5vw;
  margin-top: 1vw;
  font-size: 1.4vw;
}

.button_to_downloads {
  margin-top: 3vh;
  margin-left: 5vw;
  background: darkviolet;
  /*rgb(111, 30, 30)*/
  height: 3vw;
  width: 16vw;
  border-radius: 9px;
  box-shadow: 0 25px 80px rgba(1, 0, 0, .9);
  transition: 0.6s;
}

.button_to_downloads:hover {
  background: rgba(110, 2, 156, 0.9);
}

.text_to_downloads {
  margin-left: 1vw;
  padding-top: 1vh;
  align-self: center;
  color: #ecececd0;
  font-size: 1.4vw;
  transition: 0.6s;
  /* -> transition button*/
}


/*----------  Selective Boxes  --------------*/

#title_about {
  user-select: none;
  padding-top: 8rem;
  text-align: center;
  font-size: 3em;
  color: rgb(17, 14, 14);
}

.about-3sel,
.team,
.gallery,
.testimonials,
.contact {
  padding: 2em 0em;
  text-align: center;
}

.about-top-3sel p {
  font-size: 1.3em;
  margin: 2em auto 0em;
  width: 64%;
  color: #445;
  line-height: 1.8em;
}

.about-grid-main {
  user-select: none;
  margin-bottom: 10px;
  background: #fff;
  padding: 4em 2em;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.25);
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}

.about-grid-main:hover {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  color: #0099e5;
  background: #ff4c4c;
}

.about-grid-main:hover h4 {
  color: #fff;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}

.about-grid-main h4 {
  font-size: 1.4em;
  color: #ff4c4c;
  margin: 2em 0em 1em;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}

.about-grid-main p {
  font-size: 1.1em;
  color: #555;
  line-height: 1.9em;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}

.about-grid-main:hover p {
  color: #960808;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}

.fa {
  font-size: 50px;
}


.footer {
  width: 90%;
  max-width: 1440px;
  margin: 0px auto;
  margin-bottom: 0px;
  text-align: center;
  margin-bottom: 50px;
}

#logo {
  background-image: url("img/Cxll_PP_R.ico");
  background-position: center;
  background-size: cover;
  background-color: rgb(47, 26, 26);
  width: 50px;
  height: 50px;
  border-radius: 50em;
  float: inline-start;
}

#footer_webtext {
  margin-top: 0;
  margin-bottom: 5rem;
  padding-top: 1rem;
  float: inline-end;
  text-align: right;
  color: rgb(23, 15, 15);
  font-family: 'Quicksand';
  user-select: none;
  font-weight: bold;
}

.wrapper {
  transform-origin: center bottom 0px;
  transition: all 0.5s ease 0s;
  box-shadow: 0px 22px 54px rgba(0, 0, 0, 0.5);
}

body.tight .wrapper {
  transform: translateY(-60px) scale(0.9);
  cursor: pointer;
}

.footer {
  width: 90%;
  max-width: 1440px;
  margin: 0px auto;
  text-align: center;
  margin-bottom: 50px;
}

/*------------ scroll down ------------------*/

.cd-scroll-down {
  position: absolute;
  left: 50%;
  right: auto;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: 20px;
  width: 38px;
  height: 44px;
  background: url("img/cd-arrow-bottom.svg") no-repeat center center;
  z-index: 10;
}

.cd-scroll-down-to-5 {
  position: absolute;
  right: auto;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  right: calc(1rem + 3vw);
  bottom: calc(2rem + 2.3vw);
  width: calc(1rem + 3vw);
  height: calc(1rem + 3vw);
  background: url("img/cd-arrow-bottom.svg") no-repeat center center;
  background-position: center;
  text-align: center;
  z-index: 100;
}

.dot_scroll_5 {
  position: absolute;
  right: auto;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  right: calc(1rem + 3vw);
  bottom: calc(2rem + 2.3vw);
  width: calc(1rem + 3vw);
  height: calc(1rem + 3vw);
  background: linear-gradient(to top right, rgb(169, 0, 0), rgb(0, 0, 170));
  opacity: 90%;
  border-radius: 50%;
  display: inline-block;
}

.cd-img-replace {
  display: inline-block;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}

/*----    burger menu   -------*/

.burger {
  margin-left: 80vh;
}


input {
  position: fixed;
  opacity: 0;
}

label {
  position: absolute;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

label::before {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(10, 38, 57, 0.75);
  content: "";
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

label .burger {
  position: fixed;
  top: 2.5rem;
  left: calc(100vw - 8rem);
  z-index: 10000;
  width: 2em;
  height: 2em;
  margin: 0;
  padding: 0;
  transition: opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

label .burger::before,
label .burger .bar,
label .burger::after {
  position: absolute;
  left: 0;
  display: block;
  width: 100%;
  height: 12%;
  background: white;
  content: "";
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

label .burger .bar {
  top: 44%;
}

label .burger::before {
  top: 0;
  transform-origin: top left;
}

label .burger::after {
  bottom: 0;
  transform-origin: bottom left;
}

input:focus+label .burger,
label:hover .burger {
  opacity: 0.75;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 100;
  display: flex !important;
  flex-flow: column nowrap !important;
  justify-content: center;
  align-items: flex-start;
  transform: translate3d(0, 0, 0);
  /* material acceleration */
  transform: translateX(-100%);
  will-change: transform;
  transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

nav::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 25em;
  /*background: linear-gradient(to bottom right, blue, #d62956);*/
  background-color: #d62956;
  content: "";
  transform: skewX(15deg) translateX(-100%);
  transform-origin: bottom left;
  will-change: transform;
  transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

@media (min-width: 40em) {
  nav::before {
    width: 40em;
  }
}

nav a {
  font: 1em/1.4 "lato" !important;
  margin: 0.5em 0;
  padding: 0.2em 3em;
  font-size: 2em !important;
  color: white;
  text-decoration: none !important;
  font-weight: 500;
  transform: translateX(-100%);
  transition: color 0.15s, transform 0.5s;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

nav a:nth-child(1) {
  transition-delay: 0s, 100ms;
}

nav a:nth-child(2) {
  transition-delay: 0s, 150ms;
}

nav a:nth-child(3) {
  transition-delay: 0s, 200ms;
}

nav a:nth-child(4) {
  transition-delay: 0s, 250ms;
}

nav a:nth-child(5) {
  transition-delay: 0s, 300ms;
}

nav a:nth-child(6) {
  transition-delay: 0s, 350ms;
}

nav a:hover,
nav a:focus {
  color: black;
}

main {
  overflow: hidden;
}

main .content {
  transform: translate3d(0, 0, 0);
  /* material acceleration */
  will-change: transform, filter;
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

[id=navcheck]:checked+label::before {
  opacity: 1;
  pointer-events: auto;
}

[id=navcheck]:checked+label .burger::before,
[id=navcheck]:checked+label .burger::after {
  width: 141.42%;
}

[id=navcheck]:checked+label .burger::before {
  transform: rotate(45deg) translateY(-50%);
}

[id=navcheck]:checked+label .burger::after {
  transform: rotate(-45deg) translateY(50%);
}

[id=navcheck]:checked+label .burger .bar {
  transform: scale(0.1);
}

[id=navcheck]:checked~nav {
  transform: translateX(0);
}

[id=navcheck]:checked~nav::before {
  transform: skewX(15deg) translateX(0);
}

[id=navcheck]:checked~nav a {
  transform: translateX(0);
}

[id=navcheck]:checked~main .content {
  transform: translateX(3em);
  transform-origin: left center;
  filter: blur(2px);
}

/* helper */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}




/*----- Display Dimensions-------*/

@media (min-width:1353px) {}

@media (min-width:993px) {

  #text_introduction {
    font-size: calc(2rem + 0.5vw);
    height: 360px;
    width: calc(1rem + 50vw);
    /* margin: 2rem 50vw 0 calc(4rem + 5vw); */

  }

  .burger_menu {
    left: calc(100vw - 11rem);
  }

  #img_Migurdia {
    visibility: visible;

  }

}

@media(max-width:1353px) {
  #img_Migurdia {
    visibility: hidden;
    height: 0rem;
  }

  #text_introduction #text_doing {
    font-size: 6.8vh;
  }
}

@media (max-width:993px) {
  #HeaderText {
    font-size: 4rem;
    padding-left: calc(1rem + 1vw);
    padding-top: 0.3rem;
  }

  #text_introduction #text_doing {
    font-size: 6vh;
    margin: 0rem;
  }

  #text_doing {
    height: auto;
  }

  #text_introduction {
    padding: 2rem;
    height: auto;
  }

  #container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 95vw;
    z-index: 1;
    flex-wrap: wrap;
    margin-top: 15rem;
  }

  /*  Set the Div in in the middle of vw, 1-3rem margin l-r, 2-5rem margin b;
  #container #card {
    position: relative;
    margin-left: calc(1rem + 65vw);
    box-shadow: 0 25px 80px rgba(1, 0, 0, .9);
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
  }
  
  #container #card #content {
    padding: 20px;
    transition: 0.5;
  }
  .cd-scroll-down-to-5 {
    padding-top: 1.9rem;
    right: calc(1rem + 5vw);
    bottom: calc(2rem + 6.3vw);
    width: calc(1rem + 1vw);
    height: calc(1rem + 1vw);
    
  }*/

  .burger_menu {
    left: calc(100vw - 8rem);
  }

  video {
    visibility: hidden;
  }

  /* i don't want anymore.. */
  #container {
    max-width: 99vw;
    margin-top: 33vh;
    position: absolute;
    visibility: hidden;
  }

  #container #card {
    margin-left: calc(50vw + 5vw);
  }

  #ImgTit {
    font-size: 11vw;
    line-height: 10.7vw;
  }

  #ImgTitspan {
    font-size: 4.7vw;
  }

  .cd-scroll-down-to-5 {
    bottom: calc(3.5rem + 2.3vw);
  }

  .dot_scroll_5 {
    bottom: calc(3.5rem + 2.3vw);
  }

  #Sect2 {
    height: 115rem;
  }

  #text_introduction {
    font-size: calc(1rem + 1.5vw);
    margin: 2rem calc(4rem + 5vw) 1rem calc(4rem + 5vw)
  }

  #text_doing {
    padding-top: 0.5rem;
    font-size: calc(1rem + 2vw);
    margin: 2rem calc(4rem + 5vw) 1rem calc(4rem + 5vw);
  }

  #text_doing_span {
    font-size: 2.2rem;
    color: rgb(101, 34, 34);
  }

  #Sect3 {
    padding-top: 1rem;
    height: 50vh;
  }

  #Sect4 {
    padding-top: 1rem;
  }

  #Sect5_backround {
    background: linear-gradient(to top left, rgb(27, 10, 27), rgb(26, 0, 51)) !important;
    background-color: black;
  }

  .dot {
    height: 0px;
    width: 0px;
  }

  .cd-scroll-down {
    width: 0;
    height: 0;
    background: black;
    z-index: -1;
  }

  .button_to_downloads {
    margin-top: 3vh;
    margin-left: 5vw;
    background: darkviolet;
    /*rgb(111, 30, 30)*/
    height: 10vw;
    width: 60vw;
    border-radius: 8px;
  }

  .button_to_downloads:hover {
    background: darkviolet;
  }

  .text_to_downloads {
    margin-left: 7vw;
    padding-top: vh;
    align-self: center;
    font-size: 4.6vw;
  }

  .text_Projects_2 {
    font-size: 5vw;
    max-width: 80vw;
    margin-top: 4vh;
    margin-bottom: 5vh;
  }

  #text_Projects {
    font-size: 8vw !important;
  }

}










.container01 {
  /* float: left; */
  position: relative;
  display: flex;
  align-items: center;
  max-width: 95vw;
  z-index: 1;
  flex-wrap: wrap;
  margin-top: 8rem;
}

.containerbody {

  box-shadow: 0 25px 80px rgba(1, 0, 0, .9);
}


.container01 .containerbody {
  position: relative;
  background: linear-gradient(to top left, rgb(106, 10, 109), rgb(100, 23, 23)) !important;
  background-color: black;

  margin-left: 5vw;
  box-shadow: 0 25px 80px rgba(1, 0, 0, .9);
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  display: flex;
  /* justify-content: center; */
  height: 25vh;
  overflow: hidden;
  z-index: 1;
}

.container01 .containerbody .containercontent {
  padding: 20xp, 20xp, 20xp, 0;
  transition: 0.5;
}

.containercontent {
  width: 50vw !important;
  z-index: 10;
  transition: 500ms;
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start; */
}

.contentcontainer:hover {
  -webkit-box-shadow: inset 0px 5px 15px 5px rgba(0, 0, 0, 0.79);
  box-shadow: inset 0px 5px 15px 5px rgba(0, 0, 0, 0.79);
  transition: 500ms;
}

.containerpicture {
  display: block;
  object-fit: cover;
  height: 25vh;
  width: 35vh;
  float: left;
  border-radius: 15px;
  overflow: hidden;
  /* align-self: flex-start; */
  opacity: 86%;
  align-items: center;
}

.containerpictureactual {
  align-self: center;
  width: 25vw;
  height: 25vh;
  object-fit: cover;
}



.containertextwrap {
  padding: 3vh;
  /*TODO:*/
  position: absolute;
  overflow: hidden;
  object-fit: cover;
}

.containertext {
  font-size: 2.5rem !important;
  color: white;
  font-style: inherit;
  user-select: none;
  margin-left: 1rem;
  margin-top: 0rem;
  font-size: 2.9vw;

}









/* --------------------------------------------------------------

--------------------------------------------------------------

--------------------------------------------------------------

--------------------------------------------------------------

-------------------------------------------------------------- */















.search-bar {
  height: 40px;
  display: flex;
  width: 100%;
  max-width: 400px;
  padding-left: 16px;
  border-radius: 4px;
  outline: none;
  box-sizing: border-box;
  white-space: nowrap;
  font-size: 15px;
  font-weight: 500;
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

.search-bar input {
  width: 100%;
  height: 100%;
  border: none;
  background-color: var(--search-bg);
  border-radius: 4px;
  font-family: var(--body-font);
  font-size: 15px;
  font-weight: 500;
  padding: 0 20px 0 40px;
  box-shadow: 0 0 0 2px rgba(134, 140, 160, 0.02);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 56.966 56.966' fill='%23717790c7'%3e%3cpath d='M55.146 51.887L41.588 37.786A22.926 22.926 0 0046.984 23c0-12.682-10.318-23-23-23s-23 10.318-23 23 10.318 23 23 23c4.761 0 9.298-1.436 13.177-4.162l13.661 14.208c.571.593 1.339.92 2.162.92.779 0 1.518-.297 2.079-.837a3.004 3.004 0 00.083-4.242zM23.984 6c9.374 0 17 7.626 17 17s-7.626 17-17 17-17-7.626-17-17 7.626-17 17-17z'/%3e%3c/svg%3e");
  background-size: 14px;
  background-repeat: no-repeat;
  background-position: 16px 48%;
  color: var(--theme-color);
}

input {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  overflow: visible;
  outline: none;
  box-sizing: border-box;
  white-space: nowrap;
}