* {
    box-sizing: border-box;
    font: 18px/1.3 Helvetica, 'Roboto', sans-serif;
    color: #1a113a;
    margin: 0;
}

a {
    text-decoration: none;
}

body {
    align-items: center;
    font-family: Calibri, sans-serif;
    background-color: #f0f8ff;
}

h1 {
    font-size: 5rem;
    color: #8d85ff;
}

h2 {
    font-size: 2rem;
    padding: 1vw;
}

h3 {
    font-size: 1.4rem;
}

p {
    right: 0;
}

ul {
    display: table;
    list-style: none;
}

.unterueberschrift {
    font-size: 1, 8rem;
}

.head,
.Handout,
.workswith,
.quellen,
.repo {
    width: 100%;
    height: 70vh;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.Handout {
    height: fit-content;
}

.head {
    background: rgb(240, 248, 255);
    background: linear-gradient(180deg, rgba(240, 248, 255, 1) 0%, rgba(220, 230, 254, 1) 100%, rgba(213, 224, 254, 1) 100%);
    height: 80vh;
}

.quellen {
    height: fit-content;
    background-color: aliceblue;
    padding: 2rem;

    background: rgb(240, 248, 255);
    background: linear-gradient(180deg, rgba(240, 248, 255, 1) 10%, rgba(213, 224, 254, 1) 100%, rgba(213, 224, 254, 1) 100%);
}

.quellen h3 {
    border-bottom: 3px solid #8d85ff;
    padding: 0 1rem 0 0.2rem;
    margin-bottom: 0.8rem;
}

.quellenchild {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

.repo {
    height: fit-content;
    flex-direction: row;
    align-content: center;
    flex-flow: wrap;
}

.repo a {
    border: 0px solid #1C6EA4;
    background-color: aliceblue;
    padding: 1.05rem 10%;
    border-radius: 8px;
    transition: 0.3s;
}

.repo a:hover {
    background-color: #2e295f;
    color: white
}

.aWRap {
    margin: 0 !important;
    padding: 0 !important;
}

.repo div {
    margin: 2rem;
    padding: 1.5rem;
}

.empty {
    flex-grow: 1;
}

.cube {
    flex-grow: 2;
    background-color: #8d85ff;
    border-radius: 16px;
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly !important;
}

.cube p {
    color: white;
    padding-bottom: 2rem;
}

@media screen and (max-device-width: 800px) {
    h1 {
        font-size: 3rem;
    }

    .cube,
    .Handout {
        height: fit-content !important;
        margin: 0 !important;
    }

    .Handout {
        padding: 1rem 0 !important;
    }

    .cpyrght {
        padding-top: 1.5rem;
    }
}