/* @import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css"); */

* {
    color: var(--black);
    user-select: none;
}

:root {
    --font-size-h1: 8vw;
    --font-size-h2: 5rem;
    --font-size-h3: 3rem;


    --white: #f0f0f0;
    --light-grey: #e4e4e4;
    --black: #111111;
    --dark-grey: #272727;
    --bg: var(--white);
    --txt: var(--black);
    --dark-opacity: 0;
    --light-opacity: 1;
}


/* border-bottom: 1px solid #1e2f45; */




html {
    overflow: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /*  Explorer */
}

::-webkit-scrollbar {
    width: 0;
    /* Remove scrollbar space */
    background: transparent;
    /* Optional: just make scrollbar invisible */
}

/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}


#header {
    opacity: 100%;
    position: absolute;
    background-color: rgb(255, 255, 255, 0);
}

#HeaderText {
    position: absolute !important;
}

#headerText {
    position: absolute !important;
}

/* ---- main ----*/

.containermain {
    width: 100vw;
    height: 100vh;
    /* background-color: cadetblue; */
    z-index: -1;
}

.static {
    position: fixed;
    right: 0 !important;
}

/* ---- 4 section ---- */

.blog {
    padding: 4vw !important;
    padding-top: 0 !important;
    width: 70% !important;
    height: auto;
    padding: 1rem;
    float: left;
    align-self: flex-start;
    background-color: sssssssssssssss;

}

.mainpicture {
    width: 70vw;
    height: 70vh;
    float: left;
    align-self: flex-start;
    background-color: var(--dark-grey);
}

.mainmenu {
    height: 70vh;
    width: 30vw;
    padding: 3vw;
    float: right;
    align-self: flex-end;
    background-color: cadetblue;
}

.credits {
    background-image: url("/img/Blog-Credits.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 30vh;
    width: 30vw;
    float: right;
    align-self: flex-end;
    background-color: var(--light-grey);
    bottom: 0;
}


/* mainpicture */





/* Blog */

h1 {
    margin-left: 2vw !important;
    font-size: var(--font-size-h1) !important;
    margin-bottom: 5vh !important;
}

h2 {
    font-size: var(--font-size-h2) !important;
    background-color: rgb(219, 222, 223);
    -webkit-box-shadow: 0px 0px 33px 9px rgba(167, 167, 167, 0.74);
    box-shadow: 0px 0px 33px 9px rgba(167, 167, 167, 0.74);
    padding-left: 2vw !important;
    padding: 0.8vw;
}

h3 {
    font-size: var(--font-size-h3) !important;
    line-height: 4rem !important;
    word-spacing: 0.4rem;
    user-select: text !important;
}









/* mainmenu */

a {
    text-decoration: none !important;
}


h4 {
    text-align: center;
    font-size: 4rem !important;
}

h5 {
    font-size: 2.5rem !important;
    margin-bottom: 3vh !important;
    color: #111111 !important;
}

.h5span {
    font-size: 3.5rem !important;
    font-weight: 510;
}



.veroeffentlichung {
    position: absolute;
    bottom: 0 !important;
    margin-bottom: 3vw;
    font-size: var(--font-size-h3);
}







/* section credits */

#footer_webtext {
    position: absolute;
    bottom: 2rem !important;
    right: 1rem;
    margin-bottom: 0 !important;
}

#logo {
    position: absolute;
    bottom: 1rem !important;

}






























/* #footer_webtext {
    color: white !important;
} */





@media(max-width:1353px) {
    #footer_webtext {
        visibility: hidden;
        font-size: 0;
    }
}


@media (max-width:500px) {
    span {
        visibility: visible;
    }

    h5 {
        visibility: hidden;
    }

    p {
        visibility: hidden;
    }

    h1 {
        font-size: 5vw !important;
    }

    h2 {
        font-size: 3rem !important;
    }

    h3 {
        font-size: 2rem !important;
        word-spacing: unset !important;
    }

}