@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');




.scroll-media {
    font-size: larger;
    box-shadow: 0px 22px 54px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 22px 54px rgba(0, 0, 0, 0.5);

}

.footer {
    margin-top: 2rem !important;

}

#header {
    opacity: 95% !important;
}

/* TODO: Scroll media Change option */
.scroll-media {
    background: linear-gradient(to top left, rgb(28, 4, 29), rgb(0, 0, 0)) !important;
    background-color: black;
    height: 300vh;
}

.videobackround {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 10vh;
    z-index: -1;
    opacity: 60%;

}




/* Firefox */
/*
* {
    scrollbar-color: rgb(111, 30, 30) rgba(191, 9, 9, 0.395) !important;
}

/* Chrome / Edge / Safari */
/*
*::-webkit-scrollbar {
    width: 8px;
}

::-moz-selection {
    background: rgba(191, 9, 9, 0.395) !important;
}

::selection {
    background: rgba(191, 9, 9, 0.395) !important;
}
*/


.heading {
    height: 60vh;
    width: 100%;
    position: relative;
    overflow: hidden;

}

.Video {
    position: absolute;
    height: 60vh;
    width: 100%;
    object-fit: cover;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 1;
}

.foregroundVideo {
    position: relative;
}

.foregroundVideo::after {
    background: rgba(0, 0, 0, 0.4);
    position: relative;
    height: 60vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
    z-index: 1;
    margin-left: 65vw;
    content: '';
    position: absolute;
    transform: skew(45deg);
    box-shadow: 0 25px 80px rgba(1, 0, 0, .5);
}

.headingwrap {
    height: 0;
    position: relative;
    padding: 2em 0;
}

/*.heading .headingwrap{
    height: 70vh; 
  /* background-image: url(https://cdn.80.lv/api/upload/content/d2/5d2d431ab0329.png); */
/* background-: url(https://www.polestar.com/dato-assets/11286/1656494040-polestar-motion-blur-15s-master-16-9-with-music-2-1.mp4); */
/*background-position: center;
  background-size: cover;
  background-color: #cccccc;
  z-index: -1;
  position: absolute;
height: 80vh;
width: 80%;
object-fit: cover;
z-index: 0;
right: 0;
bottom: 0;
overflow: hidden;
}*/

.headerDownloads {
    margin-top: 0;
    padding: 12vh 10vw 0 10vw;
    font-size: 8rem;
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 0.8rem;
    color: azure;
    z-index: 1;
    position: relative;
    user-select: none;
}

.spacerlr {
    height: 1vh;
    visibility: hidden;
    /* height: 0;
    border-style: solid;
    border-width: 100px 0 0 100vw;
    border-color: #874b922a #874b922a transparent transparent; */
}



.Download {
    margin-top: 1rem;
    margin-bottom: 2rem;
}



h2 h3 {
    margin-left: 500px;
    display: inline-block;
    vertical-align: top;
    padding-top: 10rem !important;
    vertical-align: middle !important;
    justify-content: center !important;
    text-align: center !important;
}

h2 {
    min-width: 20vw;
    text-align: center;
    text-rendering: optimizeLegibility;
}

.flex {
    display: flex;
}

.container01 {
    /* float: left; */
    position: relative;
    display: flex;
    align-items: center;
    max-width: 95vw;
    z-index: 0;
    flex-wrap: wrap;
    margin-top: 8rem;
}

.container01 .containerbody {
    position: relative;
    margin-left: 10vw;
    box-shadow: 0 25px 80px rgba(1, 0, 0, .9);
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    height: 25vh;
    overflow: hidden;
    z-index: 1;
}

.containerbody:hover {
    background: linear-gradient(to top left, rgb(106, 10, 109), rgb(100, 23, 23)) !important;
    transition-duration: 1000ms;
    -webkit-transition: background-color 1000ms linear;
    -moz-transition: background-color 1000ms linear;
    -o-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
}

.container01 .containerbody .containercontent {
    padding: 20xp, 20xp, 20xp, 0;
    transition: 0.5;
}

.containerbodydescription {
    max-width: 15vw;
    height: auto !important;
    margin: 0 !important;
    padding: 1rem !important;

}

.container01description {
    max-width: 15vw;
    max-height: 40vh !important;
    margin: 0;
    margin-right: 2vw;
}

.containertextwrapdescription {
    padding: 0 !important;
    position: relative !important;
}

.containercontent {
    width: 72vw !important;
    z-index: 1;
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start; */


}

.containerpicture {
    display: block;
    object-fit: cover;
    height: 25vh;
    width: 35vh;
    float: left;
    border-radius: 15px;
    overflow: hidden;
    /* align-self: flex-start; */
    opacity: 86%;
    align-items: center;
}

.containerpictureactual {
    align-self: center;
    width: 25vw;
    height: 25vh;
    object-fit: cover;
}



.containertextwrap {
    padding-left: 35vh;
}

.containertext {
    font-size: 2.5rem !important;
    color: white;
    font-style: inherit;
    user-select: none;
    margin-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 2.5rem;
    font-size: 2.9vw;

}

.Downloadcontainerbody {
    height: 6rem !important;
    width: 35rem;
    margin-left: 0 !important;
    align-items: center !important;
    justify-content: center !important;
}

.Downloadcontainertextwrap {
    padding: 0 !important;
    position: unset;
    align-items: center;

}

.Downloadcontainer01 {
    text-align: center !important;
    margin-bottom: 10rem;
    display: flex;
    padding-left: calc(50vw - 17.5rem) !important;


}

.Downloadcontainertext {
    text-decoration: none !important;
    font-size: 3rem !important;
    color: white;
    font-style: inherit;
    user-select: none;
    font-size: 2.9vw;
    margin-bottom: 0 !important;
}

.Downloadcontainertext:hover {
    font-size: 3.2rem !important;
    transition: 300ms;
}

.transition:hover {
    font-size: 3.2rem !important;
    transition: 300ms;
}

/* TODO: */

.Downloadtext {
    margin: 0xp !important;
    text-decoration-color: rgba(0, 0, 0, 0.0) !important;
}



.backroundvideo2 {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 0;
}

.textdescription {
    color: white;
    max-width: 70vw;
    flex-wrap: wrap;
    display: flex;
    padding: 2rem;
    min-width: 70vw;
    margin-left: 6vw;
    font-size: 3vh;
}



.sect1 {
    width: 100% !important;
}

.sect2 {
    width: 100%;
}

.flex-container {

    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    flex: 1 1 80px;
    list-style: none;
}

.wrap {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}
























/*****************************/

#Download1Picture {
    height: auto;
    width: 20rem;
    margin: 3rem;
}



@media (max-width:1800px) {
    .foregroundVideo::after {
        margin-left: 47vw;
    }
}


@media (max-width:993px) {
    .headerDownloads {
        padding-top: 5vh;
        font-size: 4rem;
    }

    .containertext {
        visibility: hidden;
        font-size: 0.2xp;
    }

    /* .containertextwrap {
        visibility: hidden;
    } */

    .containerpicture .containerpictureactual {
        display: block;
        object-fit: cover;
        height: 50vh !important;
        width: 80vw !important;
        /* align-self: flex-start; */
        opacity: 100%;
        align-items: center;
    }

    .foregroundVideo::after {
        margin-left: 50vw;
    }

    .containerbodydescription {
        height: 40vh !important;

    }

    .container01description {
        visibility: hidden;
    }
    

}